* {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.section1 {
  background-image: url(../assets/images/moving\ 1.png);
  background-size: 100% 100%;
  padding: 500px;
  height: 60vh;
}
.section1 > #division1 > h1 {
  color: yellow;
  font-size: 100px;
  margin-bottom: 30px;
  margin-right: 50px;
}
.navigation > a {
  color: white;
  float: right;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
